@font-face {
    font-family: "KazimirMedium";
    src: url("../fonts/KazimirMedium/KazimirMedium.eot");
    src: url("../fonts/KazimirMedium/KazimirMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirMedium/KazimirMedium.woff") format("woff"),
    url("../fonts/KazimirMedium/KazimirMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "KazimirRegular";
    src: url("../fonts/KazimirRegular/KazimirRegular.eot");
    src: url("../fonts/KazimirRegular/KazimirRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KazimirRegular/KazimirRegular.woff") format("woff"),
    url("../fonts/KazimirRegular/KazimirRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i&amp;subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
